

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #002A32;
    color: white;
}


main {
    flex: 1;
}

.footer {
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark-primary {
    background-color: #88a1a7;
    color: white;
}

.dark-secondary {
    background-color: #1e3149;
    color:white;
}

.truncation {
    overflow: hidden;
    text-overflow:clip;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 80px;      /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}